@import '../../../application_theme/theme_palette.scss';


/*#region Toolbar*/

.app-toolbar { 

    @media (min-width: 0px) and (orientation: landscape) {
        height: 48px;
    }

    @media (min-width: 600px) {
        height: 64px;
    }

    min-height: 56px;
}

/*#endregion Toolbar*/

/*#region MenuListItem*/

.menu-list{
    width: 100%;
    display: flex;

    .menu-list-item{
        width: auto;

        a{
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            text-decoration: none;
            color:$black;
            font-weight: 500;
        }

        &:hover > a {
            color: lighten($base-color, 50%);
        }

        &:hover {
            cursor: pointer;
        }
    }
}

/*#endregion MenuListItem*/