/*Palitre*/

$white: #fff;
$grey: #D7D7D9;
$dark-grey: #A1A2A6;
$black: #0D0D0D;

$base-color: #282740;
$base-color-dark:#020126;

$red: #D94B2B;


/*#region MenuListItem*/

.menu-list{
    width: 100%;
    display: flex;

    .menu-list-item{
        width: auto;

        a{
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            text-decoration: none;
            color:$black;
            font-weight: 500;
        }

        a:hover{
            color: lighten($base-color, 20%);
        }
    }
}

/*#endregion MenuListItem*/