@import '../../../application_theme/theme_palette.scss';

/*#region MenuListItem*/

.menu-list{
    width: 100%;
    display: flex;

    .menu-list-item{
        width: auto;

        a{
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            text-decoration: none;
            color:$black;
            font-weight: 500;
        }

        a:hover{
            color: lighten($base-color, 20%);
        }
    }
}

/*#endregion MenuListItem*/