@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$body-color: red;

body{
    font-family: 'Roboto', sans-serif;
}

.title {
    color: $body-color;
}

#logo {
    background-image: url('../assets/images/instagram.png');
    background-size: contain;
    width: 250px;
    height: 250px;
}